<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="container d-flex flex-column" style="width: 540px;">
            <h1>A segurança é com a gente, a satisfação é sua</h1>
            <div class="texto">
                <p>
                    Com sede na Espanha, o Santander conta com a credibilidade de um dos maiores e mais importantes
                    bancos
                    do mundo.<br /><br />
                    Eleito o melhor do Brasil e América Latina⁴.
                </p>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/image/mosaico2.png" alt="frente de um prédio com o logo do banco Santander">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="assets/image/mosaico3.png" alt="mulher alegre utilizando o celular">
    </mat-grid-tile>
    <mat-grid-tile class="bg">
        <div class="container  d-flex flex-column" style="width: 540px;">
            <h6>Abra sua conta online</h6>
            <div class="texto">
                <h2>Faça igual a milhares de brasileiros e escolha o Santander</h2>
            </div>
            <div class="input">
                <input type="text" class="form-control mb-3" id="inlineFormInput" placeholder="Digite seu cpf">
                <button type="submit" class="btn btn-light m-2 ">Abra já a sua conta</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>