<div class="container-tipo">
  <div class="container d-flex justify-content-center">
      <div class="card">
        <h1>Veja os cartões que temos</h1>
        <h6> Com o Santander você pode também pedir seu cartão de crédito ao abrir a sua conta. Tenha um cartão online antes
          mesmo do seu físico chegar, controle seus gastaos com o App Wa e ainda tenha a possibilidade de ficar livre da
          anuidade.</h6>
        <a href="https://www.santander.com.br/cartao-credito-santander" target_blank="_blank"><h5>Peça um cartão de crédito ao
          abrir a sua conta</h5></a>
      </div>
      <div class="card">
          <img src="assets/image/cartao.png" alt="">
      </div>
  </div>
</div>