<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <img src="assets/image/step-by-step-image.png" alt="">
    </div>
    <div class="card">
        <h1>Abra sua conta de onde estiver e já comece a usar:</h1>
        <ul>
            <li class="d-flex">
                <span class="simbol">1</span>
                <p><strong>É prático</strong>: digite seu CPF, preencha seus dados e escolha o pacote de serviços ideal;
                </p>
            </li>
            <li class="d-flex">
                <span class="simbol">2</span>
                <p><strong>É rápido</strong>: tire uma selfie e escolha nossas ofertas;</p>
            </li>
            <li class="d-flex">
                <span class="simbol">3</span>
                <p><strong>É seguro</strong>: tire uma foto da frente e verso do seu RG ou CNH.</p>
            </li>
            <li>
                <h2>Leva só alguns minutos!</h2>
                <h6>
                    E o melhor: durante o pedido de abertura, você pode configurar a senha e já começar a movimentar sua
                    conta!
                    Ainda tem dúvidas? <a href="">Clique aqui.</a>
                </h6>
            </li>
        </ul>
    </div>
</div>