<div class="container-wrapper d-flex align-items-center justify-content-between ms-5" style="width:130%;">
  <div class="container-texto lead mb-3">
    <p>Cartão de crédito com anuidade zero.</p>
    <p>Conta digital prática e sem custos.</p>
  </div>
  <div class="container-wrapper-box shadow-sm p-3 mb-5 rounded">
    <div class="box-cadastro d-flex flex-column lead mb-3 ">
      <h2>Em poucos cliques e sem a necessidade de comprovar renda! Peça já!</h2>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite seu cpf">
      <button type="submit" class="btn btn-danger m-2 ">Abra já a sua conta</button>
    </div>
</div>
</div>