
.container-wrapper{
  width: 100%;
  height: 50rem;

}

.container-wrapper-box {
  width: 450px;
  height: 30vh;
  background-color:  rgba(243, 243, 243, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-texto, p{
  margin-left: 3rem;
  width: 410px;
  font-family: 'Bebas Neue', cursive;
  color: #d00c0c;
  min-width: 100px;
  font-size: 58px;
  line-height: 58px;
}

.box-cadastro {
  width: 20vw;
  align-items: center;
}

.box-cadastro h2 {
  font-size: 22px;
  text-align: center;
}

.btn {
  background-color: #d00c0c;
  color: white;
  width: 60%;
  border-radius: 50px;
}

.btn:hover {
  background-color: #830707 !important;
}

input {
  width: 80%;
  height: 50px
}