<div class="container-banner">
  <span></span>
</div>
<div class="container-wrapper">
  <div class="container-texto lead mb-3">
    <p>Cartão de crédito com anuidade zero.</p>
    <p>Conta digital prática e sem custos.</p>
  </div>
  <div class="container-wrapper-box">
    <div class="box-cadastro d-flex flex-column lead mb-3">
      <h2>Em poucos cliques e sem a necessidade de comprovar renda!<br/>Peça já!</h2>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite seu cpf">
      <button type="submit" class="btn btn-danger mb-2">Abra já a sua conta</button>
    </div>
</div>
</div>