<div class="container-wrapper d-flex align-items-center justify-content-around">
  <section class="container-texto lead">
    <p>Cartão de crédito com anuidade zero.</p>
    <p>Conta digital prática e sem custos.</p>
  </section>
  <div class="container-wrapper-box shadow-sm p-3 mb-5 rounded ">
    <section class="box-cadastro d-flex flex-column lead">
      <h2>Em poucos cliques e sem a necessidade de comprovar renda! Peça já!</h2>
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite seu cpf">
      <button type="submit" class="btn btn-danger m-2 ">Abra já a sua conta</button>
    </section>
  </div>
</div>