.container {
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
}

.container h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

.card-img-top {
    border-radius: 10px;
}