<div class="container d-flex flex-column">
    <h1 class="text-center mt-1">Conta Confia com cartão SX*</h1>
    <div class="container d-flex m-4">
        <div class="card border-light shadow m-4" style="width: 32rem; height: 12rem;">
             <img src="assets/image/card1.jpg" class="card-img-top" alt="">
        </div>
        <div class="card border-light shadow m-4" style="width: 32rem; height: 12rem;">
            <img src="assets/image/card2.jpg" class="card-img-top" alt="">
       </div>
    </div>
</div>