<footer class="bg-dark text-center text-lg-start align-items-center justify-content-center" style="width:100%;">
    <div class="container p-4">
        <div class="mb-4 mb-md-0 text-light">
            <p class="text-uppercase">
                *Os produtos mencionados estão sujeitos à aprovação de crédito e cadastro e podem ser contratados de
                maneira independente.
                ¹Utilize o crédito de forma consciente. Sujeito à aprovação de crédito e disponibilização de limite
                de conta. Necessário cadastrar e manter uma chave Pix, CPF ou Celular em conta corrente Santander.
                ²Benefícios disponíveis para clientes que contratarem o pacote Conta Confia no momento de abertura
                de conta corrente, via canal digital, e cumprirem as regras conforme regulamento
                www.santander.com.br/contaconfia.
                ³Na fatura em que não forem acumulados R$ 100 em compras ou no mês em que não for identificado a
                manutenção do cadastro do CPF e do celular como chaves Pix será cobrado o valor de anuidade do
                cartão, que corresponde a 1/12 do valor divulgado na Tabela de Serviços.
                ⁴Fonte: Euromoney 2019.
                O Santander poderá fornecer talões de cheque para movimentação de contas abertas presencialmente em
                uma de nossas agências ou por meio da assistência de um gerente dedicado. Contas abertas pelo canal
                digital não serão movimentáveis por cheque.
            </p>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgb(205, 0, 0);">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>